/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
    color: white;
    background: black;
    font-family: Arial, sans-serif;
}
body{
    position: absolute;
}
#siteContainer {
    width: 98vw;
    border: solid white 5px;
    border-radius: 1em;
    padding: 1rem 0;
}

/******************************************
/* LAYOUT
/*******************************************/
#siteContainer img {
    display: block;
    width: 98%;
    margin: auto;
    margin-top: .5rem;
    border-radius: 1em;
}

#siteContainer iframe {
    width: 98%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#main, #info, #image_Description{
    text-align: center;
    margin: auto;
    display: block;
}

#info {
    width: 95%;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

#info, #info p, #info h3 {
    color: black;
    background: white;
    border-radius: 1rem;
}


/*
    button
*/

#card {
    margin: 1rem auto;
    width: 50%;
    border: .05rem solid white;
    background: white;
    color: black;
    border-radius: .5rem;
}


#card p {
    background: white;
    color: black;
    padding: 0 .3rem;

}

.button {
    color: black;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1rem;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#dates {
    width: 60%;
    padding: 12px 20px;
    border: 1px solid black;
    margin: 8px 0;
}
/*
    MODAL
*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
    #card{
        width: 75%;
    }
}

/*font*/
#check {
    color: red;
}


/* Slideshow container */
.slideshow-container {
    width: 95%;
    height: 99vh;
    border: solid 20px white;
    position: relative;
    margin: auto;
 }

#sContainer.slideshow-container img{
    width: 100%;
    height: 95vh;
}

.fill{
    object-fit: fill;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    object-fit: contain;

  }
  
#main {
    position: fixed;
    width: 40%;
    height: 40vh;
    top: 30%;
    left: 30%;
    margin: auto;
    border: 10px solid black;
    display: none;
    background: #f0f0ff;
    flex-direction: column

}
  /* On hover, add a black background color with a little bit see-through */

  
  /* Fading animation */
  .fade {

    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }